@import '../vars.less';

html{
	min-height: 100%;
	position:relative;
	body{
		&.body-painel-login{
			position:absolute;
			top:0;
			left:0;
			height: 100%;
			min-height: 100%;
			width:100%;
			min-width: 100%;
			.main-painel-login{
				background:rgba(51,51,51,.15);
				overflow:hidden;
				min-height: 100%;
				.login{
					background:#fff;
					display:block;
					margin:50px auto 0 auto;
					width:400px;
					border:2px #ccc solid;
					padding:15px;
					-webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
					box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
					border-radius: 7px;
					h3{
						margin-top:0;
						padding-bottom:10px;
						margin-bottom:15px;
						border-bottom:1px #ccc solid;
					}
					.input-group{
						margin-bottom:15px;
					}
					.submit-placeholder{
						height: 34px;
						input[type="submit"]{
							float:right;
						}
						input[type="checkbox"]{
							vertical-align: -2px;
						}
						label{
							font-weight: normal;
						}
					}
				}
			}
			footer{
				position: absolute;
				bottom: 0;
				left: 0;
				width: 100%;
				text-align: center;
				padding: 10px 0;
			}
		}
		&.body-painel{
			.container-fluid.padded-bottom{
				padding-bottom:50px;
				min-height:500px;
			}
			footer{
				border-top:1px #ccc solid;
				padding-top:20px;
			}
			table{
				margin:30px 0;
				.crud-actions{
					width:170px;
					form{
						.inline;
					}
				}
				.move-actions{
					width: 74px;
				}
			}
			.add{
				.pad{
					padding:20px 0px;
					max-width: 600px;
				}
			}
			.toggle-destaque{
				.glyphicon-ok,
				.glyphicon-remove{ display:block; }
				.glyphicon-refresh-animate{ display: none; }
				&.carregando{
					.glyphicon-ok,
					.glyphicon-remove{ display:none; }
					.glyphicon-refresh-animate{ display: block; }
				}
			}
			.circulo-pequeno-hover{
				background:transparent;
				border-radius: 100%;
				width:30px;
				height:30px;
				display:table-cell;
    			vertical-align: middle;
    			transition:all .3s ease-in;
				img{
					max-width:25px;
					display:block;
					margin:auto;
				}
			}
			em{
				font-style: italic;
			}
		}
		textarea{
			min-height: 150px;
		}
		#listaImagens{
			margin:20px 0;
			font-size:0;
			.projetoImagem{
				.inline;
				transition:opacity .3s ease-in;
				width:30%;
				margin:0 3% 5% 0;
				box-sizing: border-box;
				position:relative;
				cursor:move;
				height: 170px;
				border-radius: 4px;
				border: 1px #ccc solid;
				img{
					max-width:100%;
					display:block;
					margin: 0 auto;
					max-height: 100%;
				}
				a.btn-remover{
					position:absolute;
					bottom:5px;
					right:5px;
					strong{
						transition:all .3s ease-in;
						.inline;
						width:0;
						overflow:hidden;
					}
					&:hover strong{width:100px;}
				}
				a.btn-descricao{
					position:absolute;
					top:5px;
					left:5px;
				}
				textarea{
					position:absolute;
					top:36px;
					left:5px;
					max-width:190px;
					width:100%;
					height:0px;
					padding-top:0px;
					padding-bottom:0px;
					resize:none;
					border:none;
					box-sizing: border-box;
					color:#444;
					background-color:rgba(255,255,255,0.8);
					font-size:14px;
					transition:all .3s ease-in;
					&.visivel{
						border:1px #444 solid;
						height:80px;
						padding-top:5px;
						padding-bottom:5px;
					}
				}
			}
			.imagem-placeholder{
				.inline;
				width:196px;
				height:196px;
				margin:0 10px 10px 0;
				position:relative;
				border:2px #E1E1E8 dotted;
				background:#F7F7F9;
				&.running{

				}
			}
		}
		.multiUpload{
			max-width:600px;
			width:100%;
			margin:10px auto;
			border:3px #CCC dashed;
			text-align:center;
			padding:15px;
			border-radius:15px;
			p{
				text-align:center;
			}
			input{
				margin:5px auto;
			}
			.icone{
				margin:20px;
				position:relative;
				span{
					color:#AAA;
					font-size:50px;
					transition:all .3s ease-in;
					&.glyphicon-refresh{
						opacity:0;
						display:none;
						-webkit-animation-name: spin;
						-webkit-animation-duration: 3000ms;
						-webkit-animation-iteration-count: infinite;
						-webkit-animation-timing-function: linear;
						-moz-animation-name: spin;
						-moz-animation-duration: 3000ms;
						-moz-animation-iteration-count: infinite;
						-moz-animation-timing-function: linear;
						-ms-animation-name: spin;
						-ms-animation-duration: 3000ms;
						-ms-animation-iteration-count: infinite;
						-ms-animation-timing-function: linear;
					}
				}
			}
		}
	}
}

@-moz-keyframes spin {
    from { -moz-transform: rotate(0deg); }
    to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}
@keyframes spin {
    from {transform:rotate(0deg);}
    to {transform:rotate(360deg);}
}

.glyphicon-refresh-animate {
    -animation: spinrefresh .7s infinite linear;
    -ms-animation: spinrefresh .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spinrefresh {
    from { transform: scale(1) rotate(0deg);}
    to { transform: scale(1) rotate(360deg);}
}

@-webkit-keyframes spinw {
    from { -webkit-transform: rotate(0deg);}
    to { -webkit-transform: rotate(360deg);}
}

@-moz-keyframes spinm {
    from { -moz-transform: rotate(0deg);}
    to { -moz-transform: rotate(360deg);}
}
