@import '../vars.less';

body{

  .video-home{
    width: 100%;
    overflow: hidden;
    background: @azul;

    .video-container {
      position: relative;
      padding-bottom: 56.25%;
      height: 0;
      overflow: hidden;
    }
    .video-container iframe,
    .video-container object,
    .video-container embed {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }
    // @media @small{
    //   height: 200px;
    //   .video-container iframe,
    //   .video-container object,
    //   .video-container embed {
    //     top:0;
    //   }
    // }
    // @media @medium{
    //   height: 350px;
    //   .video-container iframe,
    //   .video-container object,
    //   .video-container embed {
    //     top:-5%;
    //   }
    // }
    // @media @large{
    //   height: 600px;
    //   .video-container iframe,
    //   .video-container object,
    //   .video-container embed {
    //     top:-10%;
    //   }
    // }
  }

  .chamada{
    padding: 40px 0 40px;
    h3{
      .lato_light(20px);
      color:#000;
      text-align: center;
      display: block;
      margin-bottom: 30px;
    }
    .lista-chamadas{
      font-size: 0;
      white-space: nowrap;
      @media @small{
        white-space: normal;
      }
      a{
        .inline;
        white-space: normal;
        position: relative;
        width: 20%;
        .oblik(16px);
        text-align: center;
        color:#fff;
        padding: 35px 40px;
        &:nth-child(1){}
        &:nth-child(2){ transform: translateX(-26px); }
        &:nth-child(3){ transform: translateX(-52px); }
        &:nth-child(4){ transform: translateX(-82px); }
        &:nth-child(1) .fundo-skew{background-color:#14B9AB;}
        &:nth-child(2) .fundo-skew{background-color:#4FB5B9;}
        &:nth-child(3) .fundo-skew{background-color:#45BDCE;}
        &:nth-child(4) .fundo-skew{background-color:#20899F;}
        p{
          display: block;
          line-height: 130%;
          position: relative;
          z-index: 3;
          width: 100%;
          text-align: center;
          min-height: 110px;
          box-sizing: border-box;
          padding: 0 20px;
          transition: color .3s ease-in;
        }
        .fundo-skew{
          z-index: 1;
          position: absolute;
          left: 0;
          top: 0;
          height: 100%;
          z-index: 1;
          width: 92%;
          transform: skewX(-10deg) translateX(13px);
        }
        .seta{
          position: absolute;
          z-index: 2;
          top: 80%;
          left: 50%;
          transform: translateX(-50%);
        }
        &:hover{
          p{
            color:@azul;
          }
        }
        @media @medium{
          width: 25%;
          transform: none !important;
          box-sizing: border-box;
          padding: 35px 10px;
          p{
            padding: 0;
          }
          .fundo-skew{
            width: 100%;
            transform: none;
          }
        }
        @media @small{
          width: 100%;
          white-space: normal;
          transform: none !important;
          box-sizing: border-box;
          padding: 35px 10px;
          p{
            padding: 0;
            min-height: auto;
          }
          .fundo-skew{
            width: 100%;
            transform: none;
          }
          .seta{
            top: auto;
            bottom: 6px;
          }
        }
      }
    }

    .banner-extra{
      margin-top: 45px;
      background:#39485F;
      padding: 40px 0 30px 0;
      text-align: center;
      h4{
        text-align: center;
        .lato(24px);
        color:#fff;
        margin-bottom: 30px;
      }
      a{
        width: 40%;
        .inline;
        @media @small{
          margin: 0 auto;
          width: 80%;
          margin-bottom: 10px;
          display: block;
        }
        padding: 15px;
        background:#fff;
        box-sizing: border-box;
        margin: 0 1.5%;
        transition: all .3s ease-in;
        h3{
          display: block;
          color:@azul;
          .lato(16px);
          padding: 5px 0;
          border-bottom: 1px @verde solid;
          margin: 0;
          transition: all .3s ease-in;
        }
        img{
          display: block;
          margin: 10px auto 0 auto;
          max-width: 100%;
        }
        &:hover{
          background: @verde;
          h3{
            border-bottom: 1px #fff solid;
            color: #fff;
          }
        }
      }
    }
  }

  .como-funciona{
    padding: 60px 0;
    background: #80CDC5;
    h3{
      .oblik(28px);
      color:#fff;
      text-align: center;
      margin-bottom: 40px;
    }
    img{
      display: block;
      max-width: 95%;
      margin: 0 auto;
    }
  }

  .laudos{
    padding: 40px 0;
    background:#46AFC2;
    .oblik(24px);
    text-align: center;
    color:#374B6C;
    margin-bottom: 20px;
    ul{
      margin-top: 20px;
      font-size: 0;
      li{
        .inline;
        span{
          .lato(24px);
          color:#fff;
          border: 1px #8AD9E0 solid;
          text-align: center;
          padding: 15px;
          line-height: 130%;
          display: block;
        }
        a{
          .lato(24px);
          color:#fff;
          border: 1px #8AD9E0 solid;
          text-align: center;
          padding: 0 15px;
          height: 60px;
          line-height: 60px;
          display: block;
          transition: all .3s ease-in;
          &:active, &:visited{color:#fff;}
          &:hover{
            color:#8AD9E0;
            background: @azul;
          }
        }
      }
    }
  }

  .links{
    margin: 40px 0 80px 0;
    text-align: center;
    h3{
      text-align: center;
      .lato(24px);
      color:@azul;
      margin-bottom: 30px;
      display: block;
    }
    a{
      .inline;
      margin: 0 4px;
      @media @medium{
        margin-bottom: 10px;
      }
      padding: 25px 20px 25px 160px;
      box-sizing: border-box;
      max-width: 520px;
      width: 50%;
      background-color: #98D5CE;
      background-repeat: no-repeat;
      background-position: 35px center;
      &.hospitais{background-image:url('/assets/images/layout/icone-clinicas.png');}
      &.medicos{background-image:url('/assets/images/layout/icone-profissionais.png');}
      @media @small{
        display: block;
        margin: 0 auto 10px auto;
        width: 80%;
        max-width: 100%;
        padding: 25px;
        background-image: none !important;
      }
      .texto{
        text-align: left;
        h4{
          .lato(14px);
          color:@azul;
          height: 48px;
          display: block;
          position: relative;
          span{
            display: block;
            padding: 4px 0;
            border-bottom: 1px #71B9B8 solid;
            transition: color .3s ease-in;
          }
          img{
            background:#98D5CE;
            position: absolute;
            top: 0;
            right: 0;
          }
        }
        h5{
          padding-right: 60px;
          line-height: 120%;
          .oblik(20px);
          color:@azul;
          transition: color .3s ease-in;
          @media @small{
            padding-right: 15px;
          }
        }
      }
      &:hover{
        h5, h4 span{color: #fff;}
      }
    }
  }

  .conteudo-empresa{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    h2{
      margin-bottom: 30px;
      display: block;
      .lato(18px, bold);
      color:@verde;
      font-style: italic;
      text-align: center;
    }
    .colunas{
      font-size: 0;
      .coluna{
        .inline;
        width: 50%;
        box-sizing: border-box;
        &:first-child{padding: 0 20px 0 80px;}
        &:nth-child(2){padding: 0 80px 0 20px;}
        @media @small{
          width: 100%;
          padding: 0 15px !important;
        }
      }
    }
    .imagens{
      margin-top: 20px;
      font-size: 0;
      .imagem{
        .inline;
        padding: 1px;
        box-sizing: border-box;
        &:nth-child(1), &:nth-child(2), &:nth-child(3),
        &:nth-child(8), &:nth-child(9), &:nth-child(10),
        &:nth-child(15), &:nth-child(16), &:nth-child(17),
        &:nth-child(22), &:nth-child(23), &:nth-child(24),
        &:nth-child(29), &:nth-child(30), &:nth-child(31){
          width: 33.33%;
        }
        &:nth-child(4), &:nth-child(5), &:nth-child(6), &:nth-child(7),
        &:nth-child(11), &:nth-child(12), &:nth-child(13), &:nth-child(14),
        &:nth-child(18), &:nth-child(19), &:nth-child(20), &:nth-child(21),
        &:nth-child(25), &:nth-child(26), &:nth-child(27), &:nth-child(28),
        &:nth-child(32), &:nth-child(33), &:nth-child(34), &:nth-child(35){
          width: 25%;
        }
        @media @small{
          width: 50% !important;
        }
        img{
          display: block;
          margin: 0 auto;
          max-width: 100%;
        }
      }
    }
  }

  .conteudo-estrutura{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    h2{
      margin-bottom: 30px;
      display: block;
      .lato(18px, bold);
      color:@verde;
      font-style: italic;
      text-align: center;
    }
    .colunas{
      font-size: 0;
      .coluna{
        .inline;
        width: 50%;
        box-sizing: border-box;
        &:first-child{padding: 0 20px 0 80px;}
        &:nth-child(2){padding: 0 80px 0 20px;}
        @media @small{
          padding: 0 20px !important;
          width: 100%;
        }
      }
      .cke{
        p{
          .lato(14px);
          color:@azul;
          line-height: 160%;
          margin: 10px 0;
          display: block;
          width: 100%;
        }
      }
    }
    .imagens{
      font-size: 0;
      .imagem{
        .inline;
        padding: 1px;
        box-sizing: border-box;
        width: 50%;
        &:nth-child(3n+1){
          width: 100%;
        }
        img{
          display: block;
          margin: 0 auto;
          max-width: 100%;
        }
      }
    }
    .topicos{
      margin-top: 20px;
      .topico{
        margin-bottom: 20px;
        .imagem{
          width: 35%;
          .inline;
          img{
            max-width: 100%;
          }
        }
        .texto{
          width: 65%;
          box-sizing: border-box;
          padding-left: 15px;
          padding-top: 15px;
          .inline;
          h3{
            .lato(16px, bold);
            color:@azul;
            text-transform: uppercase;
          }
          p{
            .lato(14px);
            line-height: 130%;
            color:@azul;
          }
        }
        .topicos-imagens{
          margin-top: 15px;
          .imagem-topico{
            .inline;
            width: 50%;
            padding: 1px;
            box-sizing: border-box;
            img{
              max-width: 100%;
              display: block;
              margin: 0 auto;
            }
          }
        }
        &.destaque{
          background: #14B9AB;
          .imagem{
            box-sizing: border-box;
            padding: 10px 0 0 35px;
          }
        }
      }
    }
  }

  .conteudo-laudos{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    h2{
      display: block;
      .lato(18px, bold);
      color:@verde;
      font-style: italic;
      text-align: center;
    }
    p.chamada{
      text-align: center;
      max-width: 650px;
      width: 100%;
      display: block;
      margin: 0 auto;
      line-height: 140%;
      color:@azul;
      .lato(14px);
    }
  }

  .lista-laudos{
    text-align: center;
    width: 100%;
    display: block;
    margin-bottom: 80px;
    li{
      width: 100%;
      display: block;
      line-height: 130%;
      padding: 15px 0;
      .oblik(24px);
      color: @azul;
      transition: all .3s ease-in;
      //cursor:pointer;
      &:nth-child(even){background:#CAE9E4;}
      &:nth-child(odd){background:#C3E1E9;}
      &:hover{
        color:#51A8BC;
        background:#39485F;
      }
      .tooltip-conteudo{
        display: none;
      }
    }
  }

  .lista-medico{
    padding: 5px;
    margin: 0 0 10px 0;
    line-height: 140%;
    .lato(14px);
    color:@azul;
  }

  h3.titulo-vantagem{
    .oblik(36px);
    text-align: center;
    color:#1EB6A7;
    margin-bottom: 60px;
  }

  .vantagens{
    margin-bottom: 60px;
    font-size: 0;
    .vantagem{
      .inline;
      max-width: 50%;
      width: 600px;
      height: 300px;
      h4{
        color:#fff;
        .oblik_bold_italic(20px);
        text-align: center;
        margin-bottom: 20px;
      }
      .cke{
        p{color:#fff !important;}
        li{color:#fff !important;}
        color:#fff !important;
      }
      box-sizing: border-box;
      &:nth-child(1){
        padding: 45px 60px 95px 60px;
        background: url('/assets/images/layout/puzzle-verde.png') #45BDCE center bottom no-repeat;
      }
      &:nth-child(2){
        padding: 45px 60px 45px 100px;
        background: url('/assets/images/layout/puzzle-azulclaro.png') #10728B left center no-repeat;
      }
      &:nth-child(3){
        padding: 60px 90px 45px 60px;
        background: url('/assets/images/layout/puzzle-marinho.png') #14B9AB right center no-repeat;
      }
      &:nth-child(4){
        padding: 100px 60px 45px 60px;
        background: url('/assets/images/layout/puzzle-azulesmedio.png') #39485F center top no-repeat;
      }
      @media @small{
        display: block;
        width: 100%;
        max-width: 100%;
        padding: 30px 15px !important;
        height: auto;
        background-image: none !important;
      }
    }
  }

  .conteudo-vantagens{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    h2{
      display: block;
      .lato(18px, bold);
      color:@verde;
      font-style: italic;
      text-align: center;
    }
    h3{
      margin-top: 60px;
      margin-bottom: 30px;
      display: block;
      .oblik(48px, bold);
      color:@azul;
      font-style: italic;
      text-align: center;
    }
    p.chamada{
      text-align: center;
      max-width: 650px;
      width: 100%;
      display: block;
      margin: 0 auto;
      line-height: 160%;
      color:@azul;
      .lato(14px);
    }
    .lista-vantagens{
      .item{
        display: block;
        margin-bottom: 10px;
        text-align: center;
        width: 100%;
        margin-right: auto;
        margin-left: auto;
        max-width: 700px;
        .contador{
          width: 42px;
          height: 42px;
          line-height: 42px;
          border-radius: 100%;
          background: @azul;
          color:#fff;
          text-align: center;
          margin: 0 auto;
          .oblik(23px);
          position: relative;
          z-index: 3;
        }
        .texto{
          display: block;
          min-height: 24px;
          line-height: 150%;
          border-radius: 21px;
          .inline;
          padding: 12px 40px;
          color:#fff;
          text-align: center;
          .oblik(16px);
          margin-top: -10px;
          position: relative;
          z-index: 1;
          width: 100%;
          box-sizing: border-box;
        }
        &:nth-child(odd) .texto{background:#46AFC2;}
        &:nth-child(even) .texto{background:#13B9AB;}
      }
    }
    .form{
      max-width: 900px;
      width: 100%;
      margin: 50px auto 0 auto;
      background-color: #98D5CE;
      background-repeat: no-repeat;
      background-position: 40px 30px;
      box-sizing: border-box;
      padding: 30px 60px 30px 160px;
      &.form-hospitais{background-image: url('/assets/images/layout/icone-clinicas.png');}
      &.form-medicos{background-image: url('/assets/images/layout/doc.png');}
      @media @small{
        background-image: none !important;
        padding: 25px;
      }
      p#resposta-form{
        margin: 10px 0;
        padding: 10px;
        text-align: center;
        .lato(16px);
        color: @azul;
        border: 1px @azul solid;
        &.erro{

        }
        &.sucesso{

        }
      }
      form{
        text-align: left;
        h1{
          text-align: left;
          margin: 0;
          .lato(14px);
          color:@azul;
          .inline;
          border-bottom: 1px #63AAAC solid;
          padding: 0 40px 5px 0;
        }
        h2{
          text-align: left;
          margin: 25px 0;
          .oblik(20px);
          color:@azul;
          font-weight: normal;
          font-style: normal;
        }
        .form-group{
          textarea,
          input[type="text"],
          input[type="email"]{
            display: block;
            margin: 0 0 3px 0;
            height: 30px;
            line-height: 20px;
            box-sizing: border-box;
            padding: 5px 10px;
            background:#B2DFDA;
            width: 100%;
            .lato(15px);
            font-style: italic;
            color:@azul;
          }
          textarea{
            height: 120px;
            line-height: 130%;
          }
          .cv{
            position: relative;
            height: 30px;
            overflow: hidden;
            label{

              text-overflow: ellipsis;
              width: 100%;
              white-space: nowrap;
              overflow: hidden;
              box-sizing: border-box;
              padding: 0 10px;

              height: 30px;
              line-height: 30px;
              text-align: center;
              background:#45B0C4;
              .lato(16px);
              font-style: italic;
              color:@azul;
              transition: all .3s ease-in;
              width: 100%;
              display: block;
              cursor: pointer;
              position: relative;
              z-index: 2;
              &:hover{
                color:#fff;
              }
            }
            input[type="file"]{
              position: absolute;
              z-index: 1;
              top: 0;
              left: 0;
              opacity:0;
            }
          }
          .submit{
            height: 45px;
            .button{
              height: 45px;
              width: 45px;
              font-size: 0;
              float:right;
              position: relative;
              &:after{
                position: absolute;
                z-index: 1;
                height: 45px;
                width: 45px;
                top: 0;
                left: 0;
                content: "";
                display: block;
                background: url('/assets/images/layout/seta_hover.png') center center no-repeat;
                display: block;
              }
              input[type="submit"]{
                cursor: pointer;
                top: 0;
                left: 0;
                transition: opacity .3s ease-in;
                opacity: 1;
                position: relative;
                z-index: 2;
                height: 45px;
                width: 45px;
                background: url('/assets/images/layout/play.png') center center no-repeat;
                &:hover{
                  opacity: 0;
                }
              }
            }
          }
        }
      }
    }
  }

  .conteudo-suporte{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    .lista-categorias{
      text-align: center;
      margin-bottom: 30px;
      .lato(18px, bold);
      color:@verde;
      a{
        color:@verde;
        font-style: italic;
        .inline;
        transition: color .3s ease-in;
        &:active, &:visited{color:@verde;}
        &:hover, &.ativo{color:@azul;}
      }
    }
    .lista-arquivos{
      font-size:0;
      .link{
        .inline;
        width: 33.33%;
        @media @small{
          width: 100%;
        }
        margin-bottom: 15px;
        a{
          display: block;
          width: 390px;
          max-width: 95%;
          margin: 0 auto;
          border: 1px #79A6A1 solid;
          background-color:#E9F2F1;
          box-sizing: border-box;
          padding: 10px 10px 60px 10px;
          background-image:url('/assets/images/layout/icone-suporte.png');
          background-repeat: no-repeat;
          background-position: center 93%;
          h2{
            display: block;
            text-align: center;
            border-bottom: 1px #619591 solid;
            color:@azul;
            max-width: 80%;
            margin: 0 auto 8px auto;
            padding: 5px 0 8px 0;
            text-transform: uppercase;
            transition: color .3s ease-in;
            .lato(18px);
          }
          p{
            transition: color .3s ease-in;
            text-align: center;
            line-height: 140%;
            color:@azul;
            .lato(14px);
          }
          &:hover{
            h2, p{color:@verde;}
          }
        }
      }
    }
  }

  .conteudo-noticias{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    h2{
      margin-bottom: 30px;
      display: block;
      .lato(18px, bold);
      color:@verde;
      font-style: italic;
      text-align: center;
    }
    .lista-noticias{
      font-size: 0;
      a{
        &.destaque{
          .inline;
          width: 33.33%;
          box-sizing: border-box;
          margin-bottom: 40px;
          &:nth-child(3n+2){padding: 0 15px;}
          @media @small{
            width: 100%;
            padding: 0;
          }
          .link{
            background: #E9F2F1;
            padding: 20px;
            border-top: 2px @verde solid;
            h3{
              .lato(20px, bold);
              font-style: italic;
              line-height: 120%;
              color:@azul;
              transition: color .3s ease-in;
            }
            p{
              margin: 15px 0;
              .lato(14px);
              line-height: 140%;
              color:@azul;
              transition: color .3s ease-in;
            }
            &:hover{
              h3, p{color:@verde;}
            }
          }
        }
        &:not(.destaque){
          .link{
            background-color: #E9F2F1;
            padding: 20px;
            border-top: 2px @verde solid;
            background-image:url('/assets/images/layout/play-noticias-verde.png');
            background-repeat: no-repeat;
            background-position: 98% center;
            h3{
              .lato(18px, bold);
              font-style: italic;
              line-height: 120%;
              color:@azul;
              transition: color .3s ease-in;
            }
            p{display:none;}
            &:hover h3{color:@verde;}
          }
        }
        .midia-destaque{
          img{
            max-width: 100%;
            margin: 0 auto;
            display: block;
          }
          &.em-video{
            position: relative;
            &:after{
              content:"";
              display: block;
              position: absolute;
              right: 10px;
              bottom: 15px;
              width: 53px;
              height: 53px;
              background: url('/assets/images/layout/play-noticias.png') center center no-repeat;
            }
          }
        }
      }
    }
    .detalhes-noticia{
      font-size:0;
      .relacionadas{
        .inline;
        width: 40%;
        box-sizing: border-box;
        padding-right: 100px;
        @media @small{
          display: none;
        }
        a{
          display: block;
          width: 100%;
          box-sizing: border-box;
          margin-bottom: 30px;
          .link{
            background: #E9F2F1;
            padding: 20px;
            border-top: 2px @verde solid;
            h3{
              .lato(20px, bold);
              font-style: italic;
              line-height: 120%;
              color:@azul;
              transition: color .3s ease-in;
            }
            p{
              margin: 15px 0;
              .lato(14px);
              line-height: 140%;
              color:@azul;
              transition: color .3s ease-in;
            }
            &:hover{
              h3, p{color:@verde;}
            }
          }
          .midia-destaque{
            img{
              max-width: 100%;
              margin: 0 auto;
              display: block;
            }
            &.em-video{
              position: relative;
              &:after{
                content:"";
                display: block;
                position: absolute;
                right: 10px;
                bottom: 15px;
                width: 53px;
                height: 53px;
                background: url('/assets/images/layout/play-noticias.png') center center no-repeat;
              }
            }
          }
        }
      }
      .detalhes{
        .inline;
        width: 60%;
        @media @small{
          width: 100%;
        }
        border-top: 2px @verde solid;
        h1{
          margin: 20px 0;
          text-align: left;
          .lato(36px);
          color: @azul;
          font-style: italic;
        }
        .midia-destaque{
          margin-bottom: 20px;
          img{
            max-width: 100%;
            //margin: 0 auto;
            display: block;
          }
          .video-container {
            position: relative;
            padding-bottom: 56.25%;
            padding-top: 30px; height: 0; overflow: hidden;
          }

          .video-container iframe,
          .video-container object,
          .video-container embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }
        }
        .texto{
          .lato(16px);
          line-height: 150%;
          color: @azul;
        }
        .lista-imagens{
          margin: 30px 0 10px 0;
          font-size: 0;
          a{
            .inline;
            width: 150px;
            height: 150px;
            border: 1px #000 solid;
            margin: 0 20px 20px 0;
            transition: all .3s ease-in;
            img{
              transition: all .3s ease-in;
              max-width: 100%;
              display: block;
              opacity: .8;
            }
            &:hover{
              border-color: @azul;
              img{
                opacity: 1;
              }
            }
          }
        }
        .navegacao{
          margin-top: 30px;
          padding-top: 10px;
          border-top:2px @verde solid;
          a{
            .oblik(18px);
            color:@verde;
            transition: color .3s ease-in;
            &:active, &:visited{ color:@verde; }
            &:hover{ color:@azul; }
            &:nth-child(2){ float:right; }
          }
        }
      }
    }
  }

  .conteudo-faq{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    h2{
      margin-bottom: 30px;
      display: block;
      .lato(18px, bold);
      color:@verde;
      font-style: italic;
      text-align: center;
    }
    .lista-faq{
      margin: 30px 0 60px 0;
      border-top: 2px @verde solid;
      li{
        background:#E9F2F1;
        border-bottom: 2px @verde solid;
        .questao{
          cursor: pointer;
          padding: 20px 0;
          .contador{
            float: left;
            margin-right: 30px;
            width: 30px;
            height: 30px;
            line-height: 30px;
            margin-top: -6px;
            border-radius: 100%;
            text-align: center;
            color: #fff;
            background: @azul;
            .lato(18px);
          }
          h3{
            transition: color .3s ease-in;
            color: @azul;
            .lato(16px, bold);
          }
          &:hover{
            h3{color:@verde;}
          }
        }
        .resposta{
          max-height: 0;
          overflow: hidden;
          transition: all .3s ease-in;
          opacity: 0;
          padding-left: 60px;
          padding-bottom: 0px;
          &.aberto{
            padding-bottom: 20px;
            opacity: 1;
            max-height: 1800px;
          }
          p{
            .lato(16px);
            color: @azul;
            line-height: 160%;
            margin-bottom: 15px;
          }
        }
      }
    }
  }

  .conteudo-contato{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    .faixa-verde{
      background: @verde;
      text-align: center;
      padding: 40px 0;
      .telefone{
        .lato(60px);
        color:#fff;
        margin-bottom: 20px;
        @media @small{
          font-size: 30px;
        }
      }
      .endereco{
        .lato(24px);
        color:@azul;
        @media @small{
          font-size: 20px;
        }
      }
    }
    .colunas{
      font-size: 0;
      .coluna{
        .inline;
        width: 50%;
        @media @small{
          width: 100%;
        }
        .maps-container {
          position: relative;
          padding-bottom: 56.25%;
          padding-top: 30px; height: 0; overflow: hidden;
        }
        .maps-container iframe,
        .maps-container object,
        .maps-container embed {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
        }
        form{
          padding: 40px 0 20px 60px;
          max-width: 600px;
          width: 100%;
          box-sizing: border-box;
          @media @small{
            text-align: center;
            padding: 30px;
            margin: 0 auto;
          }
          h2{
            .lato_hairline(24px);
            color:@azul;
            margin-bottom: 30px;
          }
          #resposta-form{
            margin: 15px 0;
            padding: 15px;
            text-align: center;
            .lato(16px, bold);
            line-height: 140%;
          }
          input[type="text"],
          input[type="email"]{
            background:#E9F2F1;
            box-sizing: border-box;
            width: 100%;
            padding: 4px 10px;
            height: 30px;
            line-height: 22px;
            .lato(16px);
            color:@azul;
            margin-bottom: 5px;
          }
          textarea{
            background:#E9F2F1;
            box-sizing: border-box;
            width: 100%;
            padding: 4px 10px;
            height: 120px;
            line-height: 140%;
            .lato(16px);
            color:@azul;
          }
          input[type="submit"]{
            .inline;
            padding: 0 20px;
            height: 30px;
            color:#fff;
            text-align: center;
            background: @verde;
            color:#fff;
            float: right;
            margin-top: 5px;
            cursor:pointer;
            transition: all .3s ease-in;
            .lato(14px);
            &:hover{background: @azul;}
            @media @small{
              float:none;
            }
            @media @medium{
              float:none;
            }
          }
        }
      }
    }
  }

  .conteudo-contato + footer{
    margin-top: 0;
  }

  .conteudo-equipe{
    h1{
      display: block;
      margin: 60px 0 30px 0;
      .lato_hairline(50px);
      color:@azul;
      text-align: center;
    }
    h2{
      margin-bottom: 30px;
      display: block;
      .lato(18px, bold);
      color:@verde;
      font-style: italic;
      text-align: center;
    }
    .lista-equipe{
      margin: 40px 0;
      font-size: 0;
      .membro{
        border-bottom: 1px @verde solid;
        padding: 20px 0;
        display: block;
        .imagem{
          width: 25%;
          .inline;
          img{
            display: block;
            margin: 0 auto;
            max-width: 100%;
          }
        }
        .texto{
          width: 75%;
          box-sizing: border-box;
          padding-top: 20px;
          .inline;
          .area{
            color: @azul;
            .lato(14px, bold);
            line-height: 150%;
          }
          .nome{
            color: @azul;
            .lato(20px);
            line-height: 150%;
            font-style: italic;
          }
          .cargo{
            color: @verde;
            .lato(12px, bold);
            line-height: 150%;
            margin: 5px 0;
          }
          .descritivo{
            color: @azul;
            .lato(14px);
            line-height: 150%;
          }
        }
        &.par .texto{
          padding-left: 20px;
        }
        &.impar .texto{
          padding-right: 20px;
          text-align: right;
        }
      }
    }
  }

}
