@import '../vars.less';

.cke{
  h1{
    .lato(16px, bold);
    color:@azul;
  }
  p{
    .lato(14px);
    color:@azul;
    line-height: 160%;
    margin: 10px 0;
    display: block;
    width: 100%;
  }
  ul{list-style: disc inside;}
  ol{list-style: decimal inside;}
  ul, ol{
    .lato(14px);
    color:@azul;
    line-height: 160%;
    margin: 10px 0;
    display: block;
    width: 100%;
    li{
      margin: 5px 0;
    }
  }
  strong{
    font-weight: bold;
  }
  a{
    color: @azul;
    font-weight: bold;
    text-decoration: underline;
    transition: all .3s ease-in;
    &:active, &:visited{color: @azul;}
    &:hover{color: @verde;}
  }
}

body{
  .centralizar{
  	margin: 0 auto;
  	width: 100%;
    position: relative;
    overflow: hidden;
  	@media @small{
      max-width: 550px;
    }
    @media @medium{
      max-width: 900px;
    }
    @media @large{
      max-width: 1200px;
    }
  }
  header{
    height: 185px;
    position: relative;
    overflow:hidden;
    .centralizar{
      height: 185px;
      overflow: visible;
    }
    #link-home{
      position: absolute;
      left: 0;
      top: 25px;
      img{
        position: relative;
        display: block;
        max-width: 100%;
        z-index: 9;
      }
      &.internas{
        top: 35px;
        img{
          max-width: 380px;
          width: 100%;
        }
      }
      @media @small{
        position: relative;
        img{
          display: block !important;;
          margin:0 auto !important;;
          max-width: 98% !important;
        }
      }
    }
    #barra-topo{
      position: absolute;
      top: 0;
      right: 0;
      height: 60px;
      padding-top: 15px;
      box-sizing: border-box;
      background: #fff;
    }
    .social{
      padding-top: 10px;
      .inline;
      a{
        .inline;
        margin: 0;
        img{
          max-width: 20px;
        }
      }
    }
    #link-login{
      .inline;
      margin-left: 15px;
      display: none;
      border: 1px @verde solid;
      padding: 0 25px;
      height: 35px;
      line-height: 35px;
      text-align: center;
      color: @verde;
      transition: all .3s ease-in;
      box-sizing: border-box;
      img{
        vertical-align: -1px;
      }
      &:hover{

      }
    }
    #imagem-header{
      height: 185px;
      position: absolute;
      left: 43%;
      top: 0;
      background-color: #28FDFB;
      padding-right: 7000px;
      margin-right: -7000px;
      position: relative;
      @media @small{
        display: none;
      }
      &:after{
        content:"";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 60px;
        height: 185px;
        background: #fff;
        transform: skewX(-10deg) translateX(-18px);
      }
      img{
        margin-top: -15px;
      }
    }
    #frase-header{
      position: absolute;
      bottom: 0;
      right: 0;
      height: 125px;
      overflow: hidden;
      width: 695px;
      max-width: 100%;
      h1, h2{
        position: relative;
        width: 100%;
        display: block;
        color: #fff;
        z-index: 2;
        text-align: center;
      }
      h1{
        .oblik(43px);
        margin: 18px 0 12px 0;
        text-shadow: 1px 3px 6px #787878;
      }
      h2{
        .oblik(27px);
        text-shadow: 1px 3px 6px #787878;
      }
      .fundo-skew{
        position: absolute;
        left: 0;
        top: 0;
        background: @verde;
        height: 100%;
        z-index: 1;
        width: 95%;
        transform: skewX(-15deg) translateX(17px);
      }
      @media @medium{
        width: 40%;
        box-sizing: border-box;
        overflow: hidden;
        height: 185px;
        padding: 0 10px;
        h1{
          font-size:27px;
          line-height: 120%;
        }
        h2{
          font-size:22px;
          line-height: 140%;
        }
        .fundo-skew{
          width: 100%;
          transform: none;
        }
      }
      @media @small{
        display: none;
      }
    }
  }
  nav{
    background: @azul;
    padding: 22px 0 22px 0;
    box-sizing: border-box;
    @media @small{
      padding: 5px 0;
    }
    &.aberto{
      ul li{
        opacity: 1;
        max-height: 70px;
        padding: 10px 0;
      }
    }
    ul{
      font-size: 0;
      width: 100%;
      position: relative;
      li{
        .inline;
        position: relative;
        &:after{
          content: "";
          display: block;
          width: 2px;
          height: 24px;
          background-color: #538896;
          position: absolute;
          top: 0;
          right: 0;
        }
        &:first-child{
          display: none;
        }
        @media @medium{
          &:after{
            width: 1px;
          }
        }
        @media @small{
          transition: all .3s ease-in;
          display: block;
          padding: 0;
          opacity: 0;
          max-height: 0;
          width: 100%;
          &:after{
            display: none;
          }
          &:first-child{
            display: block;
            opacity: 1;
            max-height: 70px;
            padding: 10px 0;
          }
        }
        &:last-child:after{ display:none; }
        a{
          display: block;
          line-height: 26px;
          padding: 0 18px;
          text-align: center;
          .lato(15px, bold);
          color:#fff;
          transition: color .3s ease-in;
          &:hover, &.ativo{
            color: @verde;
          }
          @media @medium{
            font-size: 14px;
            padding: 0 6px;
          }
        }
      }
    }
  }
  #submenu{
    height: 42px;
    .centralizar{
      overflow: visible;
    }
    ul{
      .inline;
      background: #14B9AB;
      height: 42px;
      padding-left: 660px;
      margin-left: -600px;
      padding-right: 20px;
      position: relative;
      @media @small{
        padding-left: 0px;
        margin-left: 0px;
        padding: 0;
        width: 100%;
      }
      &:after{
        width: 15px;
        height: 42px;
        display: block;
        content: "";
        position: absolute;
        right: 0;
        top: 0;
        background: #14B9AB;
        transform: skewX(-15deg) translateX(6px);
        @media @small{
          display: none;
        }
      }
      li{
        .inline;
        height: 42px;
        position: relative;
        @media @small{
          width: 32%;
        }
        &:after{
          content: "";
          display: block;
          width: 2px;
          height: 24px;
          background-color: #44D0C7;
          position: absolute;
          top: 9px;
          right: 0;
        }
        &:last-child:after{ display:none; }
        a{
          padding: 0 20px;
          line-height: 42px;
          display: block;
          display: block;
          padding: 0 18px;
          text-align: center;
          .lato(15px, bold);
          color:#fff;
          transition: color .3s ease-in;
          &:hover, &.ativo{
            color: @azul;
          }
        }
      }
    }
  }
  footer{
    margin-top: 40px;
    border-top: 4px @azul solid;
    padding-top: 20px;
    @media @small{
      padding-left: 5px;
    }
    .colunas{
      font-size: 0;
      .coluna{
        width: 20%;
        &:first-child{
          width: 15%;
        }
        &:last-child{
          width: 25%;
        }
        @media @small{
          width: 48% !important;
          margin-bottom: 20px;
          &:last-child{
            margin-bottom: 0;
          }
        }
        .inline;
        & > ul{
          & > li{
            display: block;
            margin: 0 0 6px 0;
            & > a{
              display: block;
              color: @azul;
              .lato(16px, bold);
              border-left: 2px @verde_claro solid;
              padding-left: 4px;
              transition: color .3s ease-in;
              &:hover{
                color: @verde;
              }
            }
            ul{
              margin-top: 8px;
              li{
                display: block;
                margin: 6px 0;
                a{
                  color: @azul;
                  padding-left: 6px;
                  display: block;
                  .lato(13px);
                  transition: color .3s ease-in;
                  &:hover{
                    color: @verde;
                  }
                }
              }
            }
          }
          p{
            color: @azul;
            .lato(13px);
            line-height: 140%;
            span{
              font-size: 16px;
              font-weight: bold;
              display: block;
            }
          }
        }
      }
    }
  }
  .assinatura{
    margin-top: 20px;
    background: #E9F2F1;
    color: @azul;
    padding-top: 10px;
    height: 33px;
    box-sizing: border-box;
    .lato(11px);
    text-align: center;
    a{
      color: @azul;
      transition: all .3s ease-in;
      &:active, &:visited{
        color: @azul;
      }
      &:hover{
        color: @verde;
      }
    }
  }
}
