@small	: ~"(min-width: 0px) and (max-width: 789px)";
@medium : ~"(min-width:790px) and (max-width: 1150px)";
@large  : ~"(min-width: 1151px)";

@verde:#14B9AB;
@azul:#39485F;
@verde_claro:#2FB09A;

@font-face {
  font-family: 'oblik_bold';
  src: url('/assets/css/fonts/oblik_bold/oblik_bold-webfont.woff2') format('woff2'),
       url('/assets/css/fonts/oblik_bold/oblik_bold-webfont.woff') format('woff');
}

@font-face {
  font-family: 'oblik_bold_italic';
  src: url('/assets/css/fonts/oblik_bold_italic/oblik_bold_italic-webfont.woff2') format('woff2'),
       url('/assets/css/fonts/oblik_bold_italic/oblik_bold_italic-webfont.woff') format('woff');
}

@font-face {
    font-family: 'LatoWebBold';
    src: url('/assets/css/fonts/lato/Lato-Bold.eot'); /* IE9 Compat Modes */
    src: url('/assets/css/fonts/lato/Lato-Bold.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/css/fonts/lato/Lato-Bold.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/css/fonts/lato/Lato-Bold.woff') format('woff'), /* Modern Browsers */
         url('/assets/css/fonts/lato/Lato-Bold.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWebHairline';
    src: url('/assets/css/fonts/lato/Lato-Hairline.eot'); /* IE9 Compat Modes */
    src: url('/assets/css/fonts/lato/Lato-Hairline.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/css/fonts/lato/Lato-Hairline.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/css/fonts/lato/Lato-Hairline.woff') format('woff'), /* Modern Browsers */
         url('/assets/css/fonts/lato/Lato-Hairline.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWeb';
    src: url('/assets/css/fonts/lato/Lato-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/css/fonts/lato/Lato-Regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/css/fonts/lato/Lato-Regular.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/css/fonts/lato/Lato-Regular.woff') format('woff'), /* Modern Browsers */
         url('/assets/css/fonts/lato/Lato-Regular.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

@font-face {
    font-family: 'LatoWebLight';
    src: url('/assets/css/fonts/lato/Lato-Light.eot'); /* IE9 Compat Modes */
    src: url('/assets/css/fonts/lato/Lato-Light.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('/assets/css/fonts/lato/Lato-Light.woff2') format('woff2'), /* Modern Browsers */
         url('/assets/css/fonts/lato/Lato-Light.woff') format('woff'), /* Modern Browsers */
         url('/assets/css/fonts/lato/Lato-Light.ttf') format('truetype');
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

.oblik(@fsize:12px, @fweight:normal){
	font-family: 'oblik_bold', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.oblik_bold_italic(@fsize:12px){
	font-family: 'oblik_bold_italic', sans-serif;
	font-size:@fsize;
}

.lato(@fsize:12px, @fweight:normal){
	font-family: 'LatoWeb', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.lato_light(@fsize:12px, @fweight:normal){
	font-family: 'LatoWebLight', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.lato_hairline(@fsize:12px, @fweight:normal){
	font-family: 'LatoWebHairline', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.lato_bold(@fsize:12px, @fweight:normal){
	font-family: 'LatoWebBold', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.centralizar{
	margin: 0 auto;
	width: 100%;
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}
